@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

*{
    font-family: "Balsamiq Sans", cursive;
}

body{
    background-color: #181C14;
}

header > h1{
    text-align: center;
}

h1{
    font-weight: 700;
    font-size: 24px;
    margin: 0 0 16px 0;
}

a{
    text-decoration: none;
    color: #F5F5F5;
}

p{
    color: #979797;
    margin: 0 0 16px 0; /*kiri 0 kanan 0 atas 16px bawah 0*/
}

section{
    /* background-image: url("https://img.freepik.com/free-vector/cute-astronaut-samurai-with-kitsune-mask-katana-sword-cartoon-vector-icon-illustration-science_138676-9360.jpg?ga=GA1.1.456222794.1731250900&semt=ais_hybrid");
    background-size: cover; */
    text-align: center;
}

.content{
    /* background-color: bisque; */
    margin: 0 auto;
    width: 50%;
    padding: 32px 0;
}

.btn{
    background-color: #ffc108;
    color: white;
    padding: 8px 24px;
    border-radius: 20px;
}

.btn-info{
    background-color: white;
    color: black;
    margin-right: 16px;
    border: 2px solid #ffc108;
    transition: all 0.3s ease; 
}

.btn-contact{
    justify-content: center;
    margin: 32px 0 0 0;
    transition: all 0.3s ease;
    
}

.landing p{
    margin-bottom: 32px;
}

nav{
    text-align: center;
    margin-bottom: 32px;
    margin-top: 40px;
    /* background-color: bisque; */
    height: 50px;
    line-height: 50px;
    /* margin: 0 0 32px 0; */
}


nav > a{ /*nav > a artinya semua a di nav*/
    color: #F5F5F5;
    margin-left: 12px;
    /* border: 2px solid #ffc108; */
    padding: 8px 24px;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

nav > a:hover{
    /* display: inline-flexbox; */
    /* border-radius: 20px; */

    border-radius: 25px;
    /* box-shadow: 2px 2px 4px rgba(255, 193, 8, 0.4);  */
    /* clip-path: polygon(12% 0, 88% 0, 100% 10%, 100% 90%, 88% 100%, 12% 100%, 0% 90%, 0% 10%); */
    /* text-shadow: 1px 1px 2px rgba(255, 193, 8, 0.6);  */
    transition: all 0.3s ease; 
}

.my-certificate{
    color: #F5F5F5;
    text-align: center;
    margin: 32px 0 0 0;
}

.my-education{
    color: #F5F5F5;
    text-align: center;
    margin: 32px 0 0 0;
}

.my-project{
    color: #F5F5F5;
    text-align: center;
    margin: 32px 0 0 0;
}

.images{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin: 32px 0 0 0;
    /* border: 2px solid #ffc108; */
}

.img-profile{
    border-radius: 50%;
    margin-bottom: 30px;
    margin-top: 15px;
    filter: drop-shadow(1px 1px 20px white);
}

.education{
    /* display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: justify; */

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Atur jarak antar card */
}

.card{
    border: 2px solid #ffc108;
    padding: 8px 16px;
    margin-bottom: 20px;
    width: 500px;
    border-radius: 20px;
    transition: all 0.3s ease;

    /* background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.card p{
    margin: 0;
}

.card > h3{
    color: #F5F5F5;
}

.container-certificate{
    text-align: center;
    margin: 32px 0 0 0;
    margin-right: 20px;
    position: relative;
    display: inline-block;
    /* overflow: hidden; */
}

/* .container-certificate .hover-text{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: tgba(0,0,0,0.7);
    color: #fff;
    padding: 8px;
    border-radius: 8px;
    font-size: 12px;
    transition: visibility 0.3s, opacity 0.3s;
    z-index: 30;
} */

.hover-text{
    visibility: visible;
    opacity: 1;
    margin-top: 10px;
}

.container-project{
    text-align: center;
    margin: 32px 0 0 0;
    margin-right: 20px;
}

.text-certificate{
    margin-top: 40px;
}

.text-project{
    margin-top: 40px;
}

.footer{
    text-align: center;
    margin: 32px 0 0 0;;
}

.footer-logo > img{
    cursor: pointer;
    filter: drop-shadow(1px 1px 20px white);
    margin-right: 20px;
}

/* animation */

nav > a:hover {
    box-shadow: 4px 4px 8px rgba(255, 193, 8, 0.8);
    transform: translateY(-1px);
}

.btn-info:hover{
    box-shadow: 4px 4px 8px rgba(255, 193, 8, 0.8);
    transform: translateY(-1px);
}

.images img:first-child:hover{
    transform: scale(1.1);
    opacity: 0.8;
    transition: transform 0.5s ease;
    /* border: 2px solid #ffc108; */
}

.images img:first-child:not(:hover){
    transform: scale(1);
    opacity: 1;
    transition: transform 0.5s ease;
}

.images img:nth-child(2):hover{
    transform: scale(1.2);
    opacity: 0.8;
    transition: transform 0.5s ease;
}

.images img:nth-child(2):not(:hover){
    transform: scale(1);
    opacity: 1;
    transition: transform 0.5s ease;
}

.images img:last-child:hover{
    transform: scale(1.2);
    opacity: 0.8;
    transition: transform 0.5s ease;
}

.images img:last-child:not(:hover){
    transform: scale(1);
    opacity: 1;
    transition: transform 0.5s ease;
}

.card:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

.card:not(:hover){
    transform: scale(1);
    transition: transform 0.5s ease;
}

.container-certificate:hover .hover-text{
    visibility: visible;
    opacity: 1;
}